# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Get version tag
      id: version_tag
      run: |
        [[ ! "$GITHUB_REF" =~ refs/tags ]] && exit
        echo "::set-output name=value::${GITHUB_REF#refs/tags/}"
    - name: Check version
      run: |
        python -m pip install .[cli]
        echo "Checking tag ${{ steps.version_tag.outputs.value }} vs $(vulcan --version)"
        [[ "${{ steps.version_tag.outputs.value }}" == *"$(vulcan --version)"* ]]
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
